repos:

-   repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.8

-  repo: https://github.com/pre-commit/pre-commit-hooks
   rev: v3.4.0
   hooks:
      - id: flake8

